@media (max-width: 1200px)
    .menu
        &_item
            padding-right: 20px
        &_link
            font-size: 13px
    .promo
        &_header
            font-size: 50px
    .reasons
        &_block
            align-items: flex-start !important
        &_descr
            width: 306px !important
@media (max-width: 991px)
    .menu
        &_link
            font-size: 10px
        &_item
            padding-right: 8px
.subheader
    &_logo
        img
            width: 100%
    &_official
        font-size: 11px
    &_phone
        font-size: 18px
    &_btn
        margin-top: 21px
        height: 40px
        width: 100%
